
* {
  padding: 0;
  margin: 0;

}





.container {
  width: 15%;
  float: left;
  text-align: center;
 
  margin-top: 50px;
 
}

.container1,.container2,.container3,.container4{
  width: 80px;
  height: 150px;
  border: solid rgb(238, 236, 236) 2px;
  border-radius: 4%;

  padding: 25px;
 
}




#id1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.full {
  padding-left: 280px;
  padding-top: 7px;

}

p {
  font-size: 35px;
  font-style: initial;
}

article {
  font-size: 13px;
  color: black;
}

© 2020 GitHub,
Inc. Terms Privacy Security Status Help Contact GitHub Pricing API Training Blog About